# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_pR8SVFhi2NKP@ep-red-breeze-adgzet62-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Better Auth Secret
BETTER_AUTH_SECRET=cbYmKPlP25VbN99BZR6Pe4HJTQ1pFKnG

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=Ov23liSHjcusZGveagWu
GITHUB_CLIENT_SECRET=ccb98848a98d8c98e1adc9666c9dd78ac2e8a4ce

# For production, use a strong secret
# BETTER_AUTH_URL=https://yourdomain.com